<nz-content>
    <div nz-row class="items-center">
      <div nz-col nzSpan="12">
        <nz-breadcrumb>
          <nz-breadcrumb-item>
            <i class="fas fa-house-user text-green-500 text-lg"></i>&nbsp;
            หอผู้ป่วย
          </nz-breadcrumb-item>
        </nz-breadcrumb>
      </div>
      <div nz-col nzSpan="12" class="flex justify-end items-center">
        <nz-button-group class="border-0">
          <button nz-button nz-dropdown [nzDropdownMenu]="menu2" nzPlacement="bottomRight" class="rounded-2xl flex justify-end items-center bg-inherit">
            สวัสดีคุณ :{{user_login_name}}&nbsp;<span nz-icon nzType="user" class="text-green-500 text-md"></span>
          </button>
        </nz-button-group>
        <nz-dropdown-menu #menu2="nzDropdownMenu">
          <ul nz-menu>          
            <li nz-menu-item><i class="fas fa-user-edit text-gray-400 text-md"></i>&nbsp;User Profies</li>
            <li nz-menu-item><i class="fas fa-user-edit text-gray-400 text-md"></i>&nbsp;Avartar</li>
            <li nz-menu-item (click)="logOut()"><i class="fas fa-power-off text-gray-400 text-md"></i>&nbsp;Log Out</li>
          </ul>
        </nz-dropdown-menu>
      </div>
    </div>
  
    <nz-page-header class="site-page-header bg-white rounded-lg" nzTitle="ทะเบียนผู้ป่วย">
      <nz-page-header-extra>
        <nz-space>
          <!-- <nz-select (ngModelChange)="onSelectWard($event)" style="width: 220px;" nzPlaceHolder="เลือก Ward" *nzSpaceItem
            [(ngModel)]="wardId">
            <nz-option *ngFor="let ward of wards" [nzValue]="ward.id" [nzLabel]="ward.name"></nz-option>
          </nz-select> -->
          <nz-input-group *nzSpaceItem nzSearch [nzAddOnAfter]="suffixIconButton">
            <input type="text" name="query" [(ngModel)]="query" nz-input placeholder="ค้นหา..." />
          </nz-input-group>
          <ng-template #suffixIconButton>
            <nz-button-group>
              <!-- <button nz-button nzType="primary" nzSearch [disabled]="!query" (click)="doSearch()"><span nz-icon
                  nzType="search"></span></button> -->
              <button nz-button nzType="primary" (click)="refresh()"><span nz-icon nzType="reload"></span></button>
            </nz-button-group>
          </ng-template>
        </nz-space>
      </nz-page-header-extra>
    </nz-page-header>
    <div class="inner-content -mt-8">
  
    </div>
  </nz-content>