<nz-layout>
    <!-- <app-header></app-header> -->
    <nz-layout>
      <nz-sider nzWidth="200px" nzTheme="light" nzCollapsible nzBreakpoint="lg" [nzCollapsedWidth]="0">
        <ul nz-menu nzMode="inline" class="sider-menu">
          <li nz-submenu nzOpen nzIcon="appstore-add" nzTitle="IPD PAPERLESS">
            <ul>
              <li nz-menu-item routerLink="/doctor/main" routerLinkActive="ant-menu-item-selected">
                <span nz-icon nzType="key" nzTheme="outline"></span>&nbsp;Dashboard&nbsp;
              </li>
              <li nz-menu-item routerLink="/nurse/waiting" routerLinkActive="ant-menu-item-selected">
                <span nz-icon nzType="user" nzTheme="outline"></span>&nbsp;รายการผู้ป่วยใน
              </li>
              <li nz-menu-item routerLink="/nurse/waiting" routerLinkActive="ant-menu-item-selected">
                <span nz-icon nzType="money-collect" nzTheme="outline"></span>&nbsp;สรุปค่าใช้จ่ายก่อน DC
              </li>
              <li nz-menu-item routerLink="/nurse/waiting" routerLinkActive="ant-menu-item-selected">
                <span nz-icon nzType="audit" nzTheme="outline"></span>&nbsp;ตรวจสอบเวชระเบียน
              </li>
              <li nz-menu-item routerLink="/nurse/waiting" routerLinkActive="ant-menu-item-selected">
                <span nz-icon nzType="tool" nzTheme="outline"></span>&nbsp;ตั้งค่า
              </li>
            </ul>
          </li>
        </ul>
      </nz-sider>
      <nz-layout class="inner-layout">     
        <router-outlet></router-outlet>
        <!-- Footer -->
        <app-footer></app-footer>
      </nz-layout>
    </nz-layout>
  </nz-layout>